{% extends "PgGsbFraisBundle::layout.html.twig" %}
 {% block  body %}

<div id="contenu">
     {% if (message is defined) %}
        <div class = "erreur">
            <ul>  {{message}}  </ul> </div>
    {% endif %}
        <form method="POST" action="{{path('pg_gsb_frais_validerconnexion')}}">
            <div class="row">
                <h3 style="text-align: center; font-weight: bold">Connexion</h2>
                    <div>
                        <div style="margin:auto; width: 300px;">
                            <label for="nom" style="width: 110px">Login :</label>
                            <input id="login" type="text" name="login"  size="20" maxlength="45"><br/>
                            <label for="mdp" style="width: 110px">Mot de passe :</label>
                            <input id="mdp"  type="password"  name="mdp" size="20" maxlength="45"><br/>
                            <div style="text-align: center">
                                <input style="margin-left:auto" type="submit" class="btn-primary" value="Valider" name="valider">
                                <input type="reset" class="btn-primary" value="Annuler" name="annuler">
                            </div>
                        </div>
                    </div> 
            </div> 
                <br/>
                <br/>
        </form>
    </div>

{% endblock %}
